# Ignore everything:
**

# Except:
!deploy
!label_studio
!setup.py
!requirements.txt
!README.md
!text_classification_project
!wait-for-it.sh

# but ignore:
label_studio/frontend

# except
!label_studio/frontend/dist