<View>
  <View style="flex: 30%; color:red">
    <Header value="$wordtype" />
    <Text name="keyword" value="$keyword"/>
  </View>
  <View style="flex: 30%">
      <Labels name="label" toName="text">
        <Label value="积极" background="red"></Label>
        <Label value="消极" background="darkorange"></Label>
        <Label value="中性" background="green"></Label>
      </Labels>
      <Text name="text" value="$text"></Text>
  </View>
</View>
